<link rel="stylesheet" type="text/css" href="erik.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<div class="container">
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">EVH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/silly">Silly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="soup">Soup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="snow">Snow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="old">Old</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="perspective">Perspective</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
      
      
  </div>
</nav>



<div class="container-fluid">

<div class="container">

<h1>The Old Mans War</h1>



<img src="https://i.pinimg.com/736x/c2/d4/8e/c2d48eb5d3fd1b4b6e6ad0f93fc0338b--japanese-old-man-japanese-sword.jpg" class="img-fluid">

<p>
	Smith was his name, and his sword shone silver in the quivering recession of the sunlight. He stood atop a mossy hilltop and chewed his tobacco leaf.

His eye was red and glistened as he thought of all the people he had lost this past week, and all those he would lose as the battle continued. He had lost 700 fighters just yesterday and ten fold this moon cycle.

His thousand remaining were all clearing out their camp, the optimistic among them at least. The smart ones knew not to bother, they would not be returning tomorrow, nor would they hold their loved ones once more.

Smith pulled out his telescope and held it to his left eye, the right he had long since dismissed to the devil.

He went through the motions of observing the enemy, swished his tobacco and spat. “Seems ‘tis as good a time as any to surrender our souls. Have they finished their wills, their letters of loving? Their Farewells?”

“Aye commander, the sundry valedictions have been consummated. All that remains to us is but our souls, and you are our god now.

Disperse them as you will, for there will be no sweeter death than that which is granted to us today. I feel sorrow for our enemy, they will never know the sweet taste of a death bathed in justice.” Smith contemplated his general, a woman barely twenty, who had killed two score just yesterday. Her fury was unquenchable and spread like fire when she spoke to his warriors. He wondered what she would have become had he not stolen so many people away for a senseless war fighting for sensibility.

Only now did he truly grok how selfish he had been, all the young souls he had fumbled along the way could have changed things in ten or twenty years time without bloodshed.

He used the old and feeble ways of his forefathers to attempt to force change when change could have grown from the frost of negligence and incompetence like a beautiful tulip. But he had tilled the land prematurely and now it was barren. A hundred thousand seedlings for tomorrow consumed for his breakfast, a nobleman indeed.

With a bitter taste in his mouth he ordered his army forward, and led the charge on his steed. Her name was Agatha, after a fair maiden from what felt like a century ago, all other memory of her had since faded. Her eyes were fierce and fearless, a more battle ready companion he had never known.

He gripped her mane, and the dawn laid an incandescent red across him and his army, and upon the field, as though a premonition of the oncoming battle, and the ground rattled with thunder, a direct challenge to the clear sky above. As he gripped Agatha by the mane, he waved his sword in the air, yelling along with his warriors, and he could practically feel the blood bubbling within him. While he lead the charge he wondered if one could feel more alive than when they were about to die.

Some time later, Smith lay in a puddle of muddled blood shit and piss, atop a pile of men that were and were not his, and he watched his general Syleria as she was brought to her knees by six men upon

horse, and as they beheaded her, he resigned his life to the blackness, and he cursed his own name before he shat himself and died.
</p>


</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
