.container {
	background-color: red;
	text-align: center;
	color: black;
	font-size: 5vh;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;  
}


.perspective {
    width: 20px; /* You can set the dimensions to whatever you want */
    height: 400px;
    object-fit: cover;

}

.jumbotron {
	background-color: red;
	text-align: center
}


.img-fluid {
	 width: 50%; /* You can set the dimensions to whatever you want */
    height: 50%;
    object-fit: cover;
    text-align: center;

}

img {
	width: 500px;
}