.container-fluid {
	background-color: red;
	text-align: center;
	color: black;
	font-size: 3vh;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;  
}


.perspective {
    width: 20px; /* You can set the dimensions to whatever you want */
    height: 400px;
    object-fit: cover;

}

.jumbotron {
	background-color: red;
	text-align: center
}


.img-fluid {
	 width: 70%; /* You can set the dimensions to whatever you want */
    height: 70%;
    object-fit: cover;
    text-align: center;

}

img {
	width: 500px;
}

h1 {
	font-size: 3vh;
}

.navbar-toggle {
	height: 50%;
	width: 50%;
}

.jumbotron {
	background-color: green;
}

.text {
	text-align: center;
}